/node_modules/
GeoPandasTool/__pycache__
DeployTool/__pycache__
EvaluationTool/__pycache__
satelliteTool/__pycache__
__pycache__
.idea
/satelliteTool/geojson
/satelliteTool/intersection_results
/EvaluationTool/geojson
/EvaluationTool/intersection_results
/DeployTool/geojson
/DeployTool/Wuhan_Planning_Results
/DeployTool/planning_output_wuhan/
/geojson/

/api_test_results/
DeployTool/Wuhan_Planning_Results_Toolchain/B_observation_overlaps/Gaofen103_intersection.json
DeployTool/Wuhan_Planning_Results_Toolchain/B_observation_overlaps/Kompsat2_Arirang_2_Korean_planned_Multipurpose_Satellite2_intersection.json
DeployTool/Wuhan_Planning_Results_Toolchain/B_observation_overlaps/RapidEye-2_RapidEye_A_intersection.json
DeployTool/Wuhan_Planning_Results_Toolchain/C_final_plan/Wuhan_coverage_map.html
DeployTool/Wuhan_Planning_Results_Toolchain/C_final_plan/Wuhan_final_intersection.geojson
DeployTool/Wuhan_Planning_Results_Toolchain/C_final_plan/Wuhan_planning_report.json
satellite_planning_output/intermediate_difference/Wuhan_difference_Wuhan_final_intersection.geojson
satellite_planning_output/intermediate_difference/filtered/Wuhan_difference_Wuhan_final_intersection_filtered.geojson
satellite_planning_output/B_observation_overlaps/Gaofen103_intersection.json
satellite_planning_output/B_observation_overlaps/Kompsat2_Arirang_2_Korean_planned_Multipurpose_Satellite2_intersection.json
satellite_planning_output/B_observation_overlaps/RapidEye-2_RapidEye_A_intersection.json
satellite_planning_output/C_final_plan/Wuhan_coverage_map.html
satellite_planning_output/C_final_plan/Wuhan_final_intersection.geojson
satellite_planning_output/C_final_plan/Wuhan_planning_report.json
geojson_results/Wuhan_difference_Wuhan_final_intersection.geojson
.idea/geoSensingTool.iml
.idea/misc.xml
